{% extends 'base/form_base.html' %}

{% block title %}Sign Up{% endblock %}

{% block navbar %}
  <li class="nav-item text-black">
      <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a>
  </li>
{% endblock navbar %}

{% block form %}
  <form method="post">
    {% csrf_token %}

    <p>{{ form.username }}</p>
    <p>{{ form.password1 }}</p>
    <p>{{ form.password2 }}</p>
    <div class="col text-center">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
{% endblock form %}
