{% extends "base/base.html" %}

{% block content %}
  {% include "includes/style_tag.html" %}
  {% include "includes/header.html" %}

  <div class="container">
      <div class="row">
          <!-- Blog Entries Column -->
          <div class="col-md-6 offset-md-3 mt-3">
              <div class="card mb-4">
                  <div class="card-body d-flex justify-content-center">
                    {% block form %}
                      <!-- Form Entries Go Here -->
                    {% endblock form %}
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
