{% extends 'base/base.html' %}

{% block navbar %}
    <a href="{% url 'posts' %}" class="navbar-brand text-black font-weight-bold">Hi {{ user.username }}!</a>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
    </li>
{% endblock navbar %}

{% block content %}
    {% include "includes/style_tag.html" %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 card mb-4  mt-3 left  top">
          <div class="card-body d-flex justify-content-center">
            <form class="" action="" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="col text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
