<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django' and the template was adapted from DjangoCentral.</p>
        <p class="card-text">You can checkout DjangoCentral and if you are interested in Django, the official documentation is a great place to learn</p>
        <div class="card-body d-flex justify-content-around">
          <a href="https://djangocentral.com/"
             class="btn btn-danger">DjangoCentral!</a>
           <a href="https://docs.djangoproject.com/en/2.2/"
              class="btn btn-danger">Learn Django!</a>
      </div>
    </div>
</div>
</div>
