{% extends "base/base.html" %}

{% block navbar %}
  {% if user.is_authenticated %}
    <li class="navbar-brand text-black font-weight-bold">
      Hi {{ user.username }}!
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'new_post' %}">Add Post</a>
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'posts' %}">Edit Post</a>
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
    </li>
  {% else %}
  <li class="nav-item text-black">
      <a class="nav-link text-black font-weight-bold" href="{% url 'signup' %}">Sign Up</a>
  </li>
  <li class="nav-item text-black">
      <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a>
  </li>
{% endif %}
{% endblock navbar %}

{% block content %}
  {% include "includes/style_tag.html" %}
  {% include "includes/header.html" %}

  <div class="container">
      <div class="row">
          <!-- Blog Entries Column -->
          <div class="col-md-8 mt-3 left">
              {% for post in post_list %}
              <div class="card mb-4">
                  <div class="card-body">
                      <h2 class="card-title">{{ post.title }}</h2>
                      <p class="card-text text-muted h6">{{ post.Author }} | {{ post.created_on}} </p>
                      <p class="card-text">{{post.content|slice:":200" }}</p>
                      <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
              </div>
              {% endfor %}
          </div>
          {% block sidebar %} {% include 'includes/sidebar.html' %} {% endblock sidebar %}
      </div>
  </div>
{% endblock %}
