{% extends 'base/base.html' %}

{% block navbar %}
  {% if user.is_authenticated %}
    <li class="navbar-brand text-black font-weight-bold">
      Hi {{ user.username }}!
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'new_post' %}">Add Post</a>
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'posts' %}">Edit Post</a>
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
    </li>
  {% else %}
  <li class="nav-item text-black">
      <a class="nav-link text-black font-weight-bold" href="{% url 'signup' %}">Sign Up</a>
  </li>
  <li class="nav-item text-black">
      <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a>
  </li>
{% endif %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'includes/sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
