{% extends "base/base.html" %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}

{% block navbar %}
    <a href="{% url 'posts' %}" class="navbar-brand text-black font-weight-bold">Hi {{ user.username }}!</a>

    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'new_post' %}">Add Post</a>
    </li>
    <li class="nav-item text-black">
        <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
    </li>
{% endblock navbar %}

{% block content %}
  {% include "includes/style_tag.html" %}
  {% include "includes/header.html" %}

  <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
          {% block table.thead %}
          <thead>
            <tr>
              {% for column in table.columns %}
                  {% if column.orderable %}
                  <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                  {% else %}
                  <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                  {% endif %}
              {% endfor %}
            </tr>
          </thead>
          {% endblock table.thead %}


            {% block table.tbody %}
            <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                  {% block table.tbody.row %}
                  <tr class='{% cycle "odd" "even" %}'>
                  <!--<tr class="{% cycle "odd" "even" %}">-->
                      {% for column, cell in row.items %}
                          <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                      {% endfor %}
                  </tr>
                  {% endblock table.tbody.row %}
                {% empty %}
                  {% if table.empty_text %}
                  {% block table.tbody.empty_text %}
                  <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                  {% endblock table.tbody.empty_text %}
                  {% endif %}
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    </div>


{% endblock content%}
